<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.kids.domain.ca.msg.mapper.MsgRsltMapper">

    <insert id="insertMsgRslt" parameterType="MsgRsltVO">
        INSERT INTO kids_link_own.tb_ca_i_msg_rslt  (
                                                      seqno
                                                    , rslt_cd
                                                    , rslt_msg
                                                    , reg_dt
                                                    , rgtr_id
                                               ) VALUES (
                                                         #{seqno}
                                                       , #{rsltCd}
                                                       , #{rsltMsg}
                                                       , NOW()
                                                       , #{rgtrId}
                                                        )
    </insert>

</mapper>
